.bookmark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  background-color: var(--bookmark-bg-dark);
  cursor: pointer;

  &:hover {
    border-radius: 50%;
    background-color: var(--bookmark-bg-dark_hover);
  }

  &__checkbox {
    display: none;
  }

  &__icon {
    color: var(--bookmark-icon-dark);

    &::before {
      display: inline-block;
      content: 'bookmark_border';
    }
  }

  &__checkbox:checked + &__icon {
    color: var(--bookmark-icon-dark_marked);
    animation: pop 0.3s linear;

    &::before {
      content: 'bookmark_added';
    }
  }
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}
