# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Stores VSCode Workspace settings
/.vscode

# Production
/dist

# webpack-bundle-analyzer report
report.html

.vercel
