.news-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--bg-color-dark);
}

@media screen and (min-width: 1280px) {
  .news-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
