#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  background-color: var(--bg-color);

  .header {
    position: sticky;
    top: 0;
  }
}

.news-container {
  flex-grow: 1;

  .news-card__bookmark {
    display: none;
  }

  &--editing .news-card__bookmark {
    display: inline-flex;
  }
}
