@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block; /* Prevent material icon text from showing up */
  src: url('../assets/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url('../assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('../assets/fonts/MaterialIcons-Regular.woff') format('woff'),
    url('../assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons,
.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem; /* Preferred icon size */
  display: inline-block;
  line-height: normal; /* Fix Firefox browser vertically center */
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Prevent flicker */
  width: 1em;
  height: 1em;
  overflow: hidden;

  user-select: none;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-size: calc(100vw / 37.5);

  @media screen and (min-width: 768px) {
    font-size: 12.5px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'Roboto', Tahoma, Arial,
    'Microsoft JhengHei UI', sans-serif;
}

a {
  text-decoration: none;
}

ul[class],
ol[class] {
  margin: 0;
  padding: 0;
}

#app {
  --bg-color-dark: #1a1b22;

  /* Header */
  --header-title-dark: #ffffff;
  --header-logo-dark: #e62117;
}

.icon-link {
  display: inline-block;
  font-size: 0;
  color: currentColor;
}
