#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.news-container {
  flex-grow: 1;
}
