#app {
  /* TODO */
  --search-input-bg-dark: #23252f;
  --search-input-text-dark: #858c94;

  /* Navbar */
  --label-width: 9.6rem;
  --label-spacing: 1.2rem;
  --label-bg-dark: #1a1b22;
  --label-text-dark: #ff6861;
  --label-border-dark: #ff6861;
  --label-bg-dark_activated: #970707;
  --label-text-dark_activated: #ffffff;

  /* NewCard */
  --news-card-bg-dark: #23252f;
  --news-card-title-dark: #ffffff;
  --news-card-text-dark: #ffffff;
  --news-card-icon-dark: #ff7b75;
  --news-card-thumbnail-bg-dark: #a7a8ac;

  /* PullHint */
  --pull-hint-bg-dark: var(--bg-color-dark);
  --pull-hint-text-dark: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  background-color: var(--bg-color-dark);
}

.news-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--bg-color-dark);
  flex-grow: 1;
}
