.pull-hint {
  display: block;
  height: 8.4rem;
  font-size: 1.5rem;
  color: var(--pull-hint-text-dark);
  background-color: var(--pull-hint-bg-dark);
  box-shadow: 0 -1px 3px #ffffff1f, 0 -1px 2px #ffffff3d;

  &--loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--loading &__icon {
    display: inline-block;
  }

  &--loading &__text {
    margin-left: 0.4rem;
  }

  &--no-data {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--no-data &__icon {
    display: none;
  }
}
