.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  background-color: var(--bg-color);
  color: var(--header-title);
  z-index: 99;
  box-shadow: 0 1px 3px var(--header-box-shadow-01),
    0 1px 2px var(--header-box-shadow-02);

  &__back-icon {
    color: var(--header-back-icon);
  }

  &__logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo-icon {
    color: var(--header-logo);
    font-size: 3.6rem;
  }

  &__title {
    margin-left: 0.8rem;
    font-weight: 700;
    font-size: 2.4rem;
  }

  #management {
    padding: 0.4rem 1.6rem;
    border-radius: 2.4rem;
    border: 0.2rem solid var(--header-btn-border);
    background-color: transparent;
    color: var(--header-btn-text);
    font-size: 1.4rem;
    cursor: pointer;
  }
}
